<h2>PSU Control</h2>
<p>Starting with PSU Control version 1.0.0 RPi.GPIO has been dropped in favor of Python-Periphery. For the majority of users there should be no difference but please be sure to <font color="red">fully test your config before proceeding!</font></p>
<p>If you would like to continue using RPi.GPIO there is good news! PSU Control now supports plugins and RPi.GPIO is one of them. You can install <b>PSU Control - RPi.GPIO</b> from the plugin manager.</p>
<br/>
<br/>
<p>More info can be found on the <a href="https://plugins.octoprint.org/plugins/psucontrol_rpigpio/" target="_blank">OctoPrint Plugin Repository</a> and the <a href="https://github.com/kantlivelong/OctoPrint-PSUControl-RPiGPIO" target="_blank">Official GitHub Repository</a></p>
