<form class="form-horizontal">
    <h4>General</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.enablePowerOffWarningDialog"> Show warning dialog when powering off via toggle button.
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol.switchingMethod() === "GPIO" || settings.plugins.psucontrol.sensingMethod() === "GPIO" -->
    <div class="control-group">
        <label class="control-label">GPIO Device</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.psucontrol.GPIODevice">
                {% for item in plugin_psucontrol_availableGPIODevices %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <span class="help-inline">Pin numbers correspond to what is exposed by the GPIO device.</span>
            <span class="help-inline"><span class="label label-important">Raspberry Pi Users: Use BCM numbering.</span> See: <a href="https://pinout.xyz" target="_new">https://pinout.xyz</a></span>
        </div>
    </div>
    <!-- /ko -->
    <br />

    <h4>Switching</h4>
    <div class="control-group">
        <label class="control-label">Switching Method</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.psucontrol.switchingMethod">
                <option value="GCODE">G-Code Command</option>
                <option value="SYSTEM">System Command</option>
                <option value="GPIO"{% if not plugin_psucontrol_hasGPIO %} disabled{% endif %}>GPIO</option>
                <option value="PLUGIN">Plugin</option>
            </select>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol.switchingMethod() === "GPIO" -->
    <div class="control-group">
        <label class="control-label">On/Off GPIO Pin</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol.onoffGPIOPin"> <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.invertonoffGPIOPin"> Invert
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settings.plugins.psucontrol.switchingMethod() === "GCODE" -->
    <div class="control-group">
        <label class="control-label">On G-Code Command</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.psucontrol.onGCodeCommand">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Off G-Code Command</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.psucontrol.offGCodeCommand">
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settings.plugins.psucontrol.switchingMethod() === "SYSTEM" -->
    <div class="control-group">
        <label class="control-label">On System Command</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol.onSysCommand">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Off System Command</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol.offSysCommand">
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settings.plugins.psucontrol.switchingMethod() === "PLUGIN" -->
    <div class="control-group">
        <label class="control-label">Switching Plugin</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.psucontrol.switchingPlugin">
                <option value="" disabled selected>Choose...</option>
                {% for item in plugin_psucontrol_availablePlugins %}
                <option value="{{ item['pluginIdentifier'] }}">{{ item['displayName'] }}</option>
                {% endfor %}
                <option value="_GET_MORE_">Get More...</option>
            </select> <a href="javascript:void(0)" data-bind="click: function() { settingsViewModel.selectTab('#settings_plugin_' + settings.plugins.psucontrol.switchingPlugin()) }, visible: subPluginTabExists(settings.plugins.psucontrol.switchingPlugin())" style="display: none">Settings</a>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settings.plugins.psucontrol.switchingMethod() === "GPIO" || settings.plugins.psucontrol.switchingMethod() === "SYSTEM" || settings.plugins.psucontrol.switchingMethod() === "PLUGIN" -->
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.enablePseudoOnOff"> Enable switching with G-Code commands.
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol.enablePseudoOnOff() -->
    <div class="control-group">
        <label class="control-label">On G-Code Command</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.psucontrol.pseudoOnGCodeCommand">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Off G-Code Command</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.psucontrol.pseudoOffGCodeCommand">
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.turnOffWhenError"> Turn off when an unrecoverable firmware or communication error occurs.
            </label>
        </div>
    </div>
    <br />

    <h4>Sensing</h4>
    <div class="control-group">
        <label class="control-label">Sensing Method</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.psucontrol.sensingMethod">
                <option value="INTERNAL">Internal</option>
                <option value="SYSTEM">System Command</option>
                <option value="GPIO"{% if not plugin_psucontrol_hasGPIO %} disabled{% endif %}>GPIO</option>
                <option value="PLUGIN">Plugin</option>
            </select>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol.sensingMethod() === "GPIO" -->
    <div class="control-group">
        <label class="control-label">Sensing GPIO Pin</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol.senseGPIOPin">
            <select data-bind="value: settings.plugins.psucontrol.senseGPIOPinPUD" class="input-medium" title="Bias" {% if not plugin_psucontrol_supportsLineBias %}disabled{% endif %}>
                <option value="">Float</option>
                <option value="PULL_UP">Pull-Up</option>
                <option value="PULL_DOWN">Pull-Down</option>
            </select>
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.invertsenseGPIOPin"> Invert
            <br/>

            <!-- ko if: "{% if not plugin_psucontrol_supportsLineBias %}True{%else%}False{% endif %}" === "True" -->
            <span class="help-inline label label-important">Linux Kernel 5.5 or greater required for input bias support. <a href="https://github.com/kantlivelong/OctoPrint-PSUControl/wiki/Troubleshooting#known-issues" target="_blank">More Info</a></span>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settings.plugins.psucontrol.sensingMethod() === "SYSTEM" -->
    <div class="control-group">
        <label class="control-label">Sensing System Command</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol.senseSystemCommand">
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settings.plugins.psucontrol.sensingMethod() === "PLUGIN" -->
    <div class="control-group">
        <label class="control-label">Sensing Plugin</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.psucontrol.sensingPlugin">
                <option value="" disabled selected>Choose...</option>
                {% for item in plugin_psucontrol_availablePlugins %}
                <option value="{{ item['pluginIdentifier'] }}">{{ item['displayName'] }}</option>
                {% endfor %}
                <option value="_GET_MORE_">Get More...</option>
            </select> <a href="javascript:void(0)" data-bind="click: function() { settingsViewModel.selectTab('#settings_plugin_' + settings.plugins.psucontrol.sensingPlugin()) }, visible: subPluginTabExists(settings.plugins.psucontrol.sensingPlugin())" style="display: none">Settings</a>
        </div>
    </div>
    <!-- /ko -->
    <div class="control-group">
        <label class="control-label">Polling Interval</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="1" max="10" step="1" class="input-mini text-right" data-bind="value: settings.plugins.psucontrol.sensePollingInterval">
                <span class="add-on">sec</span>
            </div>
        </div>
    </div>
    <br />

    <h4>Power On Options</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.autoOn"> Automatically turn PSU ON
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol.autoOn() -->
    <div class="control-group">
        <label class="control-label">Trigger Commands</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol.autoOnTriggerGCodeCommands">
        </div>
    </div>
    <!-- /ko -->
    <div class="control-group">
        <label class="control-label">Post On Delay</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="0" step="0.1" class="input-mini text-right" data-bind="value: settings.plugins.psucontrol.postOnDelay">
                <span class="add-on">sec</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Post On GCode Script</label>
        <div class="controls">
            <textarea rows="5" class="block" data-bind="value: scripts_gcode_psucontrol_post_on"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.connectOnPowerOn"> Connect when powered on.
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol.connectOnPowerOn() -->
    <div class="control-group">
        <label class="control-label">Post Connect Delay</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="0" step="0.1" class="input-mini text-right" data-bind="value: settings.plugins.psucontrol.postConnectDelay">
                <span class="add-on">sec</span>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.turnOnWhenApiUploadPrint"> Turn on prior to printing after API upload
            </label>
        </div>
    </div>
    <br />

    <h4>Power Off Options</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.powerOffWhenIdle"> Automatically turn PSU OFF when idle
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol.powerOffWhenIdle() -->
    <div class="control-group">
        <label class="control-label">Idle Timeout</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="0" class="input-mini text-right" data-bind="value: settings.plugins.psucontrol.idleTimeout">
                <span class="add-on">min</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Ignore Commands</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol.idleIgnoreCommands">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Wait For Temperature</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="0" class="input-mini text-right" data-bind="value: settings.plugins.psucontrol.idleTimeoutWaitTemp">
                <span class="add-on">°C</span>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="control-group">
        <label class="control-label">Pre Off GCode Script</label>
        <div class="controls">
            <textarea rows="5" class="block" data-bind="value: scripts_gcode_psucontrol_pre_off"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol.disconnectOnPowerOff"> Disconnect on power off.
            </label>
        </div>
    </div>
</form>
