<a id="psucontrol_indicator" class="pull-right {% if plugins_psucontrol_iconStyle == "switch" %}icon-toggle-off{% endif %}" title="Toggle PSU" href="#" data-bind="click: function() { loginState.isUser() && $root.togglePSU(); }, visible: (isPSUOn() !== undefined)" style="display: none">
    <i {% if plugins_psucontrol_iconStyle != "switch" %}class="icon-bolt"{% endif %}></i>
</a>

<div id="psucontrol_poweroff_confirmation_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>PSU Control</h3>
    </div>
    <div class="modal-body">
        <p>
            Power Supply is currently ON. 
        </p>
        <p>
            {{ _('Are you sure you want to proceed?') }}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-danger" data-bind="click: function() { loginState.isUser() && $root.turnPSUOff(); }">{{ _('Proceed') }}</a>
    </div>
</div>
